.navbarTitle {
    font-size: 32px;
    text-align: right;
    font-weight: 800;
    line-height: normal;
    /* background: linear-gradient(90deg, #118C80 0%, #4AB7D8 120%); */
    background-clip: text;
    -webkit-text-fill-color: transparent;
}